$background: #F4F5F7;

$primary: #299D91;
$secondary: #525256;
$black: #191919;
$white: #fff;
$red: #E73D1C;
$green: #4DAF6E;
$grey01: #666666;
$grey02: #878787;
$grey03: #9F9F9F;
$grey04: #D1D1D1;
$grey05: #E8E8E8;
$grey06: #F3F3F3;

$radius-default: 4px